<!-- resources/mapper/ChatMessageMapper.xml -->
<mapper namespace="com.freiendsync.muush.mapper.ChatMessageMapper">
    <select id="selectChatMessagesOrderByTime" resultType="ChatMessage">
        SELECT 
            msg_id AS msgId,
            conversation_id AS conversationId,
            sender_id,
            send_time AS sendTime,
            msg_content
        FROM chat_msg
        WHERE 
            (conversation_id = #{conversationId})
        ORDER BY send_time DESC
        LIMIT #{offset}, #{pageSize}
    </select>
</mapper>